/*NULL*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

*,
* ::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
body{
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-title: #212121;
    --color-subtitle: #757575;
    --color-hoverfocus: #2196F3;
    --color-forbackground: #FFFFFF;
    
}
/* header */
/*logo*/
.logo1:hover{
    letter-spacing: 0.03em;
}
.logo1:focus {
    letter-spacing: 0.03em;
}

.part1 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #2196F3;
}

.part2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: black;
}
.navigation {}

.navigation-item {
    color: var(--color-title);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}
.navigation-item:hover{
    letter-spacing: 0.02em;
    color: var(--color-hoverfocus);
}
.navigation-item:focus {
    letter-spacing: 0.02em;
    color: var(--color-hoverfocus)
}



.feedback {}

.feedback-item {
    color: var(--color-subtitle);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}
.feedback-item:hover{
    letter-spacing: 0.02em;
    color: var(--color-hoverfocus);
}
.feedback-item:focus{
    letter-spacing: 0.02em;
    color: var(--color-hoverfocus);
}
/* main index */
.primary-maintitle{
    background: #2F303A;
}
.maintitle {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-forbackground);
    letter-spacing: 0.06em;
}


.maintitle-button {
    width: 216px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.06em;
}

.features {
    visibility: hidden;
}

.subfeatures {}

.subfeatures-headline {
    color: var(--color-title);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.subfeatures-paragraf {
    width: 270px;
    color: var(--color-subtitle);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.heading-work {
    color: var(--color-title);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}


.heading-work-list {
   
}

.list-item {}

.heading-team {
    color: var(--color-title);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}


.heading-list {}

.item-headline {
    color: var(--color-title);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.item-paragraf {
    color: var(--color-subtitle);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

/* fotter */
footer{
    background: #2F303A;
}
.logo2{}
.logo2:hover {
    letter-spacing: 0.03em;
}

.logo2:focus {
    letter-spacing: 0.03em;
}

.contact {}

.contact-list {}

.contact-map {
    font-size: 14px;
    line-height: 1.7;
    color: #FFFFFF;
    font-style: normal;
}
.contact-map:hover{
    letter-spacing: 0.03em;
}
.contact-map:focus {
    letter-spacing: 0.03em;
}

.contact-item {
    font-size: 14px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}
.contact-item:hover {
    letter-spacing: 0.03em;
    color: var(--color-hoverfocus);
}

.contact-item:focus {
    letter-spacing: 0.03em;
    color: var(--color-hoverfocus);
}

/* main portfolio */
.porfolio {
    visibility: hidden;
}

.porfolio-filter {

}

.porfolio-position {
    color: var(--color-title);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
    padding: 6px 22px;
}
.porfolio-position:hover{
    letter-spacing: 0.03em;
    background-color: var(--color-hoverfocus);
    color: var(--color-forbackground);
}
.porfolio-position:focus {
    letter-spacing: 0.03em;
    background-color: var(--color-hoverfocus);
    color: var(--color-forbackground);
}
.porfolio-list {}

.porfolio-item {}

.porfolio-item-headline {
    color: var(--color-title);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.porfolio-item-paragraf {
    color: var(--color-subtitle);
    font-size: 16px;
    line-height: 1.9;
}
